form > * {
  display: block;
  margin-top: 16px;
  font-size: 18px;
}

#form__post__title {
  width: 300px;
}

#form__post__title,
#form__post__content {
  border: 1px solid #ced4da;
  padding: 8px;
  border-radius: 5px;
  color: #495057;
}

#form__post__content {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
}

#form__post__submit {
  background-color: #004186;
  border-color: #004186;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#form__post__submit:hover {
  background-color: #002349;
}
